registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
fetch-retries=3
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=30000
fetch-timeout=60000
